{%extends "base.html"%}
{% load static from staticfiles%}
{% block title%}{% endblock title%}

{% block content %}
<form class="form-horizontal" action="{% url "users:auth_login" %}" method="post">
{% csrf_token %}
<h1 class="center">Вход</h1>
<input type="hidden" name="text" value="{% url "home" %} />
<div class="form-group form-group-lg">
	<label for="login" class="col-xs-2 control-label">Имя пользователя</label>
	<div class="col-xs-10">
		<input type="text" class="form-control" id="login" value="" 
			name="username">
	</div>
</div>
<div class="form-group form-group-lg">
	<label for="password" class="col-xs-2 control-label">Пароль</label>
	<div class="col-xs-10">
		<input type="password" class="form-control" id="password" value="" 
			name="password">
	</div>
</div>
<button type="submit" class="btn btn-primary">Войти</button>	
</form>
{% endblock content %}
