{%extends "base.html"%}
{% load static from staticfiles%}
{% block exstra_css %}  
<link rel="stylesheet" type="text/css" 
		href="{{PORTAL_URL}}{% static 'css/login_registr.css' %}">
{% endblock exstra_css%}
{% block title%}{% endblock title%}
{% block nav %}{% endblock nav %}
{% block content %}
<div class="container">
	<h2 class="selection-title"> Вход</h2>
	<form class="form-horizontal" action="{% url "auth_login" %}" method="post"
				enctype="multipart/form-data" role="form">
		{% csrf_token %}
		<input type="hidden" name="text" value="{% url "home" %} />
		<div class="form-group">
			<label for="login" class="col-sm-2 control-label">Имя пользователя</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="login" value="" 
					name="username">
			</div>
			<label for="password" class="col-sm-2 control-label">Пароль</label>
			<div class="col-sm-10">
				<input type="password" class="form-control" id="password" value=""
					name="password">
			</div>
			<div id="button-login" class="col-sm-10">
				<button type="submit" class="btn btn-primary">Войти</button>	
			</div>
		</div>
	</form>
</div>
{% endblock content %}
{% block cat %} 
<div class="link-widget">
	<div class="widget">
		<h3>DreamBaby</h3>
	</div>
</div>
{% endblock cat %}
