{% extends "base.html" %}
{% load static from staticfiles %}
{% block content %}
<div class="container">
<h1>Оплата, Доставка, Сервис и Гарантия</h1>
<h3>Доставка по Украине</h3>
<h5>"Новая почта" наложенным платежом</h5>
<br>
<p>Доставка товаров производится лидером курьерских доставок по Украине "Новая почта" (сайт курьера <a href="http://novaposhta.ua/">http://novaposhta.ua/</a>Доставка </p>
<p>осуществяется в среднем 2-5 дней.</p>
<p>Склады в Вашем городе, и стоимость доставки Вы можете посмотреть на сайте "Новой Почты".</p>
<p>Вы заказываете товар, получаете на склад в Вашем городе, проверяете и лишь потом оплачиваете!</p>
<p>Стоимость обычно составляет 30 грн. за доставку и 30 грн. комиссии за наложенный платеж. Стоимость доставки Вы оплачиваете в отделении Новой Почты.</p>
<br>
<h5>"Новая почта" по предоплате</h5>
<br>
<p>Доставка товаров производится лидером курьерских доставок по Украине "Новая почта" (сайт курьера <a href="http://novaposhta.ua/">http://novaposhta.ua/</a>Доставка </p>
<p>осуществяется в среднем 2-5 дней.</p>
<p>Отправку осуществляем вечером после заказа, поэтому посылка уходит на следующий день. Дальнейшее движение посылки Вы можете смотреть на сайте Новой Почты.</p>
<p>Склады в Вашем городе, и стоимость доставки Вы можете посмотреть на сайте "Новой Почты".</p>
<p>Стоимость доставки обычно около 30 грн. Стоимость доставки Вы оплачиваете в отделении Новой Почты.</p>

</div>
{% endblock content %}