{%extends "base.html"%}
{% load static from staticfiles%}
{% block content %}
<div class="container">
<h1>Гарантия</h1>
<h3>14-ДНЕВНАЯ ГАРАНТИЯ ВОЗВРАТА</h3>
<br>

<p>После получения товара у клиента есть 14 дней для ознакомления с изделием и возвратом товара . В случае желания клиента вернуть товар, Клиент должен незамедлительно сообщить об этом ( не позднее 14 дней с момента получения товара ). Клиент должен послать заявление на адрес электронной почты <a href="http://serega_denisenko@mail.ru/">serega_denisenko@mail.ru</a> или позвонить к менеджеру . В е-майле должно быть написано Имя, Фамилия, адрес электронной почты, номер телефона, номер заказа, дата получения товара, причина возврата.</p>
<p>• Возврату не подлежат товары, которые были в использовании.</p>
<p>• Клиент несёт расходы по доставке товара.</p>
<p>1. Возвращаемый товар должен быть упакованным в оригинальную упаковку и должен иметь вид нового товара. Оригинальная упаковка не должны быть повреждена.</p>
<p>2. Клиент должен послать заявление не позднее 14 дней с момента получения товара.</p>
<p>3. Клиент несёт расходы по возврату товара, за исключением - если возвращаемый товар отличался от того, что клиент заказал.</p>
<p>4. Клиент должен выслать товар обратно (не позднее 3 дней) после заявления о возврате.</p>

</div>
{% endblock content %}