{% extends "base.html" %}
{% load static from staticfiles %}
{% block exstra_css %}		
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
{% endblock exstra_css%}
{% block nav %}{% endblock nav %}
{% block content %}
<div class="container">
	<div class="col-xs-12 col-sm-3 no-margin sidebar narrow">
			<div class="widget">
				<h2 class="border">Информация</h2>
				<div class="body">
					<ul class="le-links">
						<li>
							<a href="{% url "products" %}">Все товары</a>
						</li>
						<li>
							<a href="{% url "dostavka" %}">Доставка</a>
						</li>
						<li>
							<a href="{% url "garantia" %}">Гарантия</a>
						</li>
					</ul>
				</div>
			</div>
	</div>
	<div class="col-xs-12 col-sm-9 no-margin wide sidebar">
		<div class="grid-list-products">
				<div class="tab-content">
					<div id="featured" class="tab-pane active">
						<div class="product-grid-holder">
						<h2 class="selection-title"> {{ category.name }}</h2>
						{% for product in products %}
							<div class="col-sm-4 col-md-3 no-margin product-item-holder hover">
								<div class="product-item product">
									<div class="image">
										<a href="{{ product.image.url }}">
											<img src="{{ product.image.url }}" >
										</a>
									</div>
									<!--выбор варианта товара -->
									<form class="variants" action="{% url 'cart:CartAdd' product.id %}" method="post">
										{{ cart_product_form }}
										{% csrf_token %}
										<div class="body">
											<div class="title">
												<a href="{% url 'item' product.alias %}">{{product.name}}</a>
											</div>
										</div>
										<div class="prices">
											<div class="price-prev"></div>
											<div class="price-current pull-right">
												<span class="pr">{{product.price}}</span>
											</div>
										</div>
										<div class="clearfix"></div>
										<div class="hover-area">
											<div class="add-cart-button">
												<button class="le-button" class="buy" type="submit">В корзину</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						{% endfor %}
						</div>
					</div>
				</div>
		</div>
	</div>
</div>
<div class="add-footeer" id="add-footeer">
	<br>
	<br>
</div>
{% endblock content %}
{% block cat %}
<div class="link-widget">
	<div class="widget">
		<h3>DreamBaby</h3>
	</div>
</div>
{% endblock cat %}